/* places sql textarea on top */
#content {
    display: flex;
    flex-direction: column;
}

#content > h2 {
    order: -2;
}

#content > form#form {
    order: -1;
}

#content table {
    display: inline-block;
}

/* removes search in all tables */
#content > h3#tables-views + form > fieldset:first-child {
    display: none;
}

/* table select link replace with book icon */
#tables a.select:before {
    content: "\1F4D6";
    visibility: visible;
    word-spacing: normal;
    letter-spacing: normal;
}

#tables a.select {
    visibility: hidden;
    word-spacing: -999px;
    letter-spacing: -999px;
}

#tables a.select:hover {
    text-decoration: none;
}

/* menu styles */
#menu {
    position: fixed;
    padding: 0px;
    background-color: white;
}

#tables {
    overflow-y: scroll !important;
    height: 70vh;
    resize: horizontal;
    background-color: #fff;
}

#menu a[href="https://www.adminer.org/"]:after {
    content: " produkce";
    text-transform: uppercase;
    display: block;
    width: 274px;
    background-color: tomato;
    font-size: 30px;
    font-style: initial;
    text-align: center;
    font-weight: bold;
    color: black;
    position: fixed;
    top: 0px;
    left: 0px;
}
